/* contact-header */

.contact-wrap {
    background: url(/image/bg/feedback.jpg) no-repeat center;
    background-size: cover;
    width: 100%;

    padding: 15rem 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    text-align: center;
    flex: 1 0 auto;
    letter-spacing: 1px;
}

.contact-info__title {
    color: #fefeff;
    font-size: 33px;
    font-weight: 500;
    line-height: 46.5px;
}

.contact-info__data {
    margin-top: 2.5rem;
}

.contact-info__data-item {
    color: #fefeff;
    font-size: 18px;
    font-weight: 300;
    margin: 3px;
}

.contact-map {
    width: 85rem;
}

.contact-map img {
    width: 100%;
    height: auto;
}




/* /contact-header */