/* feedback-header */

.feedback-wrap {
    background: url(../image/bg/feedback.jpg) no-repeat center;
    background-size: cover;
    width: 100%;

    padding: 10rem 0;
}

.feedback {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.feedback-header {
    text-align: center;
}

.feedback-header__title {
    color: #fefeff;
    font-size: 3.3rem;
    font-weight: 500;
}

.feedback-header__subtitle {
    color: #fefeff;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 15px;
}

.feedback-header__btn {
    margin: 5rem 0;
    width: 27rem;
    height: 4.5rem;
    border: none;
    border-radius: 23px;
    background-color: #ffffff;
    color: #292e59;
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.47px;
}

.feedback-form {
    width: 67rem;

    display: flex;
    flex-direction: column;
}

.feedback-form input {
    height: 5rem;
    border: none;
    border-radius: 5px;
    margin: 6px;
    padding-left: 15px;
    color: #8081ab;
    font-size: 1.7rem;
    font-weight: 300;
}

.feedback-form textarea {
    height: 11rem;
    border: none;
    border-radius: 5px;
    margin: 6px;
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #8081ab;
    font-size: 1.7rem;
    font-weight: 400;
}
/* /feedback-header */