.main {    
    padding-top: 4rem;
    position: relative;
    max-height: 100vh;
    
    background: url(../image/bg/1.jpg) no-repeat center ;
    background-size: cover;


    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
    
}
.main-header {
    padding-top: 4rem;
    position: relative;
    max-height: 100vh;

    background: url(../image/bg/1.jpg) no-repeat top;
    background-size: cover;

    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}  
/* main-info */

.main-info-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}

.main-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.main-info__name h1{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 4rem;
    font-weight: 500;
}

.main-info__name h1 span {
    color: #adceff;
    font-weight: 800;
}

.main-info-spacer {
    width: 2px;
    height: 4rem;
    background-color: #ffffff;
    margin: 5px 2.4rem 0 4rem;
   
}

.main-info-contacts__links{
    cursor: pointer;
    margin: 5px 1.6rem 0;
    transition-duration: 0.3s;
}

.main-info-contacts__links:hover{
    transform: scale(1.2);
}

.main-search {
    display: flex;
    align-items: center;

    height: 4rem;
    margin-top: 2rem;
    background-color: #ffffff;
    border-radius: 4rem;
    z-index: 2;

}

.main-search input {
    height: inherit;
    box-sizing: border-box;
    border: none;
    border-radius: inherit;

    padding-left: 15px;
}
.main-search button {
    height: inherit;
    width: 4rem;

    border: none;
    border-radius: inherit;
    background:url(../image/icon/search.svg) no-repeat center;
    background-size: 70%;
    cursor: pointer;
}

.main-search button:hover {
    border: 1px solid #408cea;
}

/* /main-info */



/* main-nav */

.main-nav {
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.main-nav__item {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem;
    border-radius: 3rem;
    border: 1px solid #ffffff00;
    transition-duration: 0.4s;
}

.main-nav__item:hover {
    border: 1px solid #ffffff;
    background-color: #6aafec67;

}


/* /main-nav */


/* main-about */
.main-about {
    display: flex;
    justify-content: center;

}
.main-about-detail {
    margin: 0 auto;
    color: #ffffff;
    width: calc(350px + 15rem);
    align-self: center;
}

.main-about-detail__title {
    font-size: 4rem;
    font-weight: 700;
}

.main-about-detail__info {
    color: #d9eaf9;
    font-size: 2.7rem;
    font-weight: 500;
    margin-top: 2rem;
}

.main-about-detail__discription {
    margin-top: 3rem;
    color: #bad9f4;
    font-size: 2rem;
    font-weight: 400;
}

.main-about-detail__btn {
    margin: 3rem 0;
    width: 39rem;
    height: 6.5rem;

    color: #ffffff;
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 500;

    box-shadow: 16px 10px 9px rgba(26, 37, 77, 0.03), 0 0 84px rgba(255, 255, 255, 0.32);
    border-radius: 29px;
    border: none;
    background-color: #3b7aca;
    background-image: linear-gradient(-5deg, rgba(9, 61, 254, 0.35) 0%, rgba(12, 193, 198, 0.35) 100%);
    position: relative;
    z-index: 2;
}

.main-about-photo {
/*     width:calc(60rem - (10px - 1rem) * 40 ); */
    height: auto;
    z-index: 1;
    width: 60rem; 
}

.main-about-photo img {
    width: 100%;
    height: 100%;
}

/* /main-about */

.main-filter {
    position: absolute;
    display: block;
    background: url(../image/bg/main_filter.png) no-repeat center ;
    background-size: cover;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    user-select: none;
}


.main-filter_circle {
    position: absolute;
    display: block;
    background: url(../image/bg/main-circle.png) no-repeat center ;
    background-size: 150%;
    top: 15%;
    right: 0;
    left: 5%;
    bottom: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

.main-header .main-filter_circle {
    position: absolute;
    display: block;
    background: url(../image/bg/main-circle.png) no-repeat ;
    background-size: 150%;
    background-position: 10% 40%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    user-select: none;
}